name: Upload Python Package

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  # 1. Сначала запускаем тесты
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.11

      - name: Run tests
        # uv run автоматически установит зависимости из [dependency-groups] dev
        run: uv run pytest

  # 2. Если тесты прошли — собираем пакет
  release-build:
    runs-on: ubuntu-latest
    needs: [run-tests] # Зависимость от тестов
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Build release distributions
        run: uv build

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  # 3. Публикуем
  pypi-publish:
    runs-on: ubuntu-latest
    needs: [release-build]
    permissions:
      id-token: write
    environment:
      name: pypi
      url: https://github.com/${{ github.repository }}/releases/tag/${{ github.ref_name }}
    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
